/* Por JS se va a forzar la vista horizontal */
h1 {
    color: white;
    text-align: center;
    font-size: x-large;
    margin-top: 1em;
}

video {
    position: absolute;
    z-index: -1;
    top: 0;
    background-color: black;
    left: 0;
    width: 100%;
    height: 100vh;
}

a {
    position: absolute;
    bottom: 0;
    width: 5em;
    bottom: 3em;
    right: 3em;
}

#skip {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 5em;
    bottom: 2.5em;
    right: 1em;
    color: white;
    font-size: xxx-large;
    font-size: xx-large;
    border-block-color: white;
    border: 0.1em solid white;
    border-radius: 1em;
    padding: 0.5em;
    width: max-content;
}

.mensajeAlUsuario {
    color: white;
    background-color: #3e7c17;
    font-weight: bold;
    padding: 0.5em;
    font-size: larger;
}

header {
    display: flex;
    height: 15vh;
    width: 100%;
}

.mensajeAlUsuario.abajo {
    right: 0;
    bottom: 0;
    border-radius: 1em;
}

.mensajeAlUsuario.arriba {
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kick_icon {
    color: transparent;
    width: 1.5em;
    height: 1em;
    margin: 1em;
}
.kick_icon::after {
    content: url("/svg/cruz.svg");
}
.item_sala {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

h-video {
    display: none;
}

.rotar-pantalla{
    width: 100%;
    height: 100%;
    background-color: #F4A442;
    position: absolute;
    z-index: 9999999999;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.no-mostrar{
    display:none ;
}

.rotar-pantalla h1{
    font-size: xx-large;
    text-align: center;
    margin: 1em;
    display: flex;
    color: black;
}

.rotar-pantalla p{
    font-size: large;
    text-align: center;
    margin: 1em;
    display: flex;
    color: black;
}