body {
    background-color: darkgreen;
    color: white;
}

h2{
    text-align: center;
}

label {
    display: block;
}

input {
    display: block;
}

input[type="radio"] {
    display: inline;
}

.labelOptima {
    display: inline;
}

#Pregunta {
    display: block;
    width: 90%;
    height: 5em;
}

.botonGuardar {
    font-family: Arial;
    display: block;
}

#enunciado {
    width: 100%;
}

.radio_DJ label {
    display: contents;
}

.botonGuardar {
    font-family: Arial;
    font-weight: bold;
    display: inline-block;
    padding: 0.5em 2.5em;
    margin: 0.5em;
    font-size: larger;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: White;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.botonGuardarWhite {
    font-family: Arial;
    background-color: white;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form fieldset{
    width: 90%;
    margin: 0.5em;
}

fieldset [type="radio"]{
    margin-left: 2em;
}

fieldset h3{
    margin: 0.5em;
}