.main_body {
    overflow: scroll;
}

#section_termometro {
    position: absolute;
    top: 0;
    left: 0;
}

.seleccionado:hover {
    stroke: green;
    stroke-width: 1px;
}

#section_icono_pregunta_1 {
    position: absolute;
    top: 10em;
    left: 10em;
}

#section_icono_pregunta_2 {
    position: absolute;
    top: 13em;
    left: 20em;
}

.section-respuestas {
    padding: 2em;
    /* height: 70%; */
    width: 80%;
    color: white;
    background-color: #3e7c17;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 10px 8px black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.section-respuestas h3 {
    width: 100%;
    margin: 1em;
    text-align: center;
}

#form-respuestas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#form-respuestas .respuesta {
    width: 10%;
    margin: 0%;
    transform: scale(2);
}
#form-respuestas span {
    width: 90%;
}

#boton_enviar_respuestas {
    flex: 1;
    margin: 2em;

    height: 2.5em;
    padding: 0.5em 2.5em;
    margin: 0.5em;
    font-size: medium;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: White;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0.2em #999;
}
#boton_enviar_respuestas:hover {
    background-color: aliceblue;
}

#boton_enviar_respuestas:active {
    background-color: rgba(240, 248, 255, 0.856);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.respuesta-correcta {
    background-color: lightgreen;
}

.respuesta-incorrecta {
    background-color: salmon;
}

.section-correcion {
    padding: 2em;
    /* height: 70%; */
    width: 80%;
    color: white;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 10px 8px black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.section-correcion h3 {
    height: 90%;
    margin: 0%;
}

.section-correcion input {
    height: 10%;
}

.ocultar {
    visibility: hidden;
}

.elemento_mapa_disponible {
    stroke: yellow;
    stroke-width: 0.5;
    stroke-linecap: round;
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.elemento_mapa_disponible:hover {
    stroke-width: 3;
    animation: none;
}

.elemento_mapa_no_disponible {
    stroke: red;
    stroke-width: 0.5;
    stroke-linecap: round;
}

@keyframes parpadeo {
    0% {
        stroke-width: 1;
    }
    50% {
        stroke-width: 2;
    }
    100% {
        stroke-width: 1;
    }
}

#icono_pregunta_1,
#icono_pregunta_2 {
    display: none;
}

#termometro_local {
    position: fixed;
    margin-top: 2em;
    left: 0;
}

#termometro_global {
    position: fixed;
    margin-top: 2em;
    left: 3em;
}

/*.termo_25{
    height:35px;
    transition: 1s;
}

.termo_50{
    height:70px;
    transition: 1s;
}

.termo_75{
    height:105px;
    transition: 1s;
}

.termo_100{
    height:140px;
    transition: 1s;
}*/

.termo {
    /*Creado solo para que la suba de temperatura sea fluida, se la asignamos por js, si se puede podriamos cambiarlo.*/
    transition: 1s;
}

#informacion {
    position: fixed;
    height: 6vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f4a442;
}

plot-container plotly {
    position: fixed;
    width: 300px;
    height: 300px;
    right: 0px;
}

.indicadorBienestar {
    position: fixed;
    width: 300px;
    height: 300px;
    float: right;
    right: 1em;
    margin-top: 4em;
}

.medidaBienestar {
    stroke-width: 16;
    stroke-dashoffset: 360;
    stroke-dasharray: 272 373;
    stroke: #008000;
    fill: none;
}

#cuerpo_medidor {
    fill: #e5e5e5;
    stroke: black;
}

#section-stop {
    padding: 1em;
    /* height: 70%; */
    background-color: #f16f00;
    width: 80%;
    color: black;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 10px 8px black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    font-weight: bold;
}

#section-stop h3 {
    font-size: xx-large;
    width: 100%;
    text-align: center;
}

#section-stop h4 {
    margin: 0.4em;
    width: 100%;
    text-align: center;
    font-size: x-large;
}

#form-stop-respuestas{
    display: flex;
    width: 70%;
    flex-direction: column;
}

.field_stop_opcion{
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
}
.field_stop_opcion label{
    margin-right: 1em;
}
.field_stop_opcion input{
    transform: scale(2);
}
#boton_stop_respuestas{
    align-self: center;
}

#espera {
    padding: 2em;
    /* height: 70%; */
    background-color: rgb(155, 114, 0);
    width: 80%;
    color: white;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 10px 8px black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.pantalla-inactiva {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 6000;
    text-align: center;
}
.pantalla-inactiva p {
    color: white;
}

#justificacion-stop {
    padding: 2em;
    width: 80%;
    color: white;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 10px 8px black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
}
#justificacion-stop h4 {
    margin: 0;
}
#justificacion-stop p {
    margin: 0;
}
.resultado_correcto {
    background-color: #6cb300;
}
.resultado_incorrecto {
    background-color: lightcoral;
}
.boton {
    font-family: Arial;
    height: 2.5em;
    width: 10em;
    display: inline-block;
    padding: 0.5em 2.5em;
    margin: 0.5em;
    font-size: larger;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: White;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

body {
    background-color: #e8e1d9;
}


/* SVG */
#bienestar_usuario{
    right: 1em;
}
.termometro g ellipse{
	visibility: hidden
}
.termometro g ellipse+rect{
    fill: white;
}
.label_svg{
    border: 1px solid black;
    border-radius: 15px;
    background-color: orange;
    font-weight: bold;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}
#label_termLocal{
    top: 15em;
    padding: 0.25em;
}
#label_termGlobal{
    top: 8em;
    padding: 0.25em;
}
#label_bienestar{
    padding: 0.25em;
    top: 11em;
    right: 0;
    width: 7em;
    text-align: center;
    margin-right: 0.5em;
}
#label_zoom{
    position: unset;
}
#termometro_global{
    left: 0%;
}
#termometro_local{
    top: 7em;
}

.bienestar_mobile{
    visibility: visible;
}
.bienestar_desk{
    visibility: hidden;
}
.btns_zoom{
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.btns_zoom button{
    height: 4em;
    width: 4em;
    background-color: white;
    color: black;
    margin-top: 0.5em;
}


/* Desktop */
@media (min-width: 1024px) {
    /* SVG */
    .termometro g ellipse{
        visibility: visible
    }
    .label_term{
        top: 11em;
    }
    #termometro_local{
        top: 0;
        left: 7em;
    }
    #label_termLocal{
        top: 11em;
        left: 7em;
    }
    #label_termGlobal{
        top: 11em;
    }
    
    .bienestar_mobile{
        visibility: hidden;
        position: fixed;
        transform: rotate(90deg);
        fill: white;
        top: 1em;
        right: 0em;
    }
    .bienestar_desk{
        visibility: visible;
    }

    .btns_zoom{
        position: fixed;
        bottom: 1em;
        right: 3em;
    }
    .btns_zoom button{
        height: 5em;
        width: 5em;
        background-color: white;
        color: gray;
    }

    .btns_zoom button:hover{
        background-color: rgb(175, 158, 158);
        color: rgb(0, 0, 0);
    }
    #label_bienestar{
        width: 10em;
        right: 5em;
    }
}

#boton_cerrar_correcion{
    margin:1em;
    font-family: Arial;
    height: 2.5em;
    width: 10em;
    display: inline-block;
    padding: 0.5em 2.5em;
    margin: 0.5em;
    font-size: larger;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: White;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.rotar-pantalla{
    width: 100%;
    height: 100%;
    background-color: #F4A442;
    position: absolute;
    z-index: 9999999999;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.no-mostrar{
    display:none ;
}

.rotar-pantalla h1{
    font-size: xx-large;
    text-align: center;
    margin: 1em;
    display: flex;
    color: black;
}

.rotar-pantalla p{
    font-size: large;
    text-align: center;
    margin: 1em;
    display: flex;
    color: black;
}